
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: rgb(110, 106, 106);
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #f0f0f0;
}

.div-free-shipping {
    height: 40px;
    background-color: #0049be;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    font-family: monospace;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-top: 5px;
    padding: 0px 5px;
    height: 80px;
}

.navbar div a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0 10px;
}

.navbar div a:hover {
    color: #AC1929;
}

.logo img {
    width: 90px;
}

.carrusel {
    width: 100%;
    background-color: #ccc;  
}
.carousel-item  {
  width: 100%;
  height: calc(100vh - 120px); 
  background-size: cover;
  background-position: center;
  background-image: url('./assets/img/asd.jpg');
}
